/*обнуление стилей*/
* {
	margin: 0;
	padding: 0;
}
a {
	text-decoration: none;
}
ul {
	list-style: none;
}

/*BODY*/
body {
	width: 1366px;
	/*height: 950px;*/
	font-family: Tahoma;
	background: #f9f9f9;
	
}

.maket {
	width: 1060px;
	height: 100%;
	margin-left: 155px;
	box-shadow: 0px 0px 0px 2px #dddddd;
	background: #ffffff;
}

/*HEADER*/
header {
	margin-left: 47px;
}
.logo {
	padding-top: 50px;
	margin-bottom: 43px;
	height: 40px;
	width: 966px;
	font-size: 40px;
	
}
.menu {
	height: 40px;
	width: 966px;
	
	background: #515151;
}

.menu ul {

	display: block;
    margin: 0;
    padding: 0;
    
}
.menu ul li {
	float: left;
	width: 145px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	vertical-align: middle;
}
.menu a {
	display: block;
	color: white;
	height: 100%;
}

.menu li:hover {
	background-color: #464646;
	outline:1px solid #838383;
	outline-offset:-1px;

}

/*LEFT_MENU*/	 
	
.left_menu {
	
	width: 200px;
	margin-left: 47px;
	margin-top: 48px;

}
.left_menu li {
	width: 240px;
	height: 40px;
	border: 1px solid #c8c8c8;
	border-bottom: none;
	
	line-height: 40px;
	
}
.left_menu li a {
	color:black;
	display: block;
	height: 100%;
}
.left_menu li:last-child {
	border-bottom: 1px solid #c8c8c8;
}

.left_menu a:hover {
	
	padding-left: 12px;
	background: #f9f9f9;
}

/*Content*/

img {
	float: right;
	margin-top: 40px;
	margin-right: 50px;

}

.text {
	height: 140px;
	/*width: 630px;*/
	margin-left: 350px;
	margin-top: 180px;
	font-size: 14px;
	margin-right: 50px;
}

/*FOOTER*/

footer {
	height: 40px;
	width: 966px;
	margin-right: 48px;
	margin-left: 47px;
	margin-top: 50px;
	margin-bottom: 60px;
	background: #e1e1e1;
}

.footer-line {
	height: 40px;
	width: 110px;
	display: inline-block;
	text-align: center;
	vertical-align: middle;
	line-height: 40px;
}

.footer-line a {
	display: block;
	color: black;
	
}
.footer-line a:hover {
	text-decoration: underline;
}
#copywrite {
	width: 200px;
	padding-left: 300px;
}
